# Python кэш
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение
.venv/
venv/
ENV/

# Конфиденциальные данные
.env

# Файлы сессий Telethon
*.session
*.session-journal

# Пользовательские настройки
user_settings.json

# Системные файлы
.DS_Store
.idea/
.vscode/

# Временные файлы
*.log
*.tmp